<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ImagenFondo" value="pack://application:,,,/Image/FondoPantalla/camion.png" />
    <add key="NombreError" value="Error.XML" />
    <add key="NombreDebug" value="Debug.XML" />
    <add key="FlagDebug" value="1" />
    <add key="Ruta" value=".\Log\" />
    <add key="RutaMSG" value=".\Lang\Mensajes.ini" />
    <add key="BDUser" value="SYSTEM" />
    <add key="BDPass" value="HANAB1Admin" />  
    
    <!--<add key="BDPass" value="B1Admin$1" />-->
    
    <add key="TipoServidorBD" value="dst_HANADB" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="BDVentura" connectionString="Data Source = 192.168.1.31; Initial Catalog= VSMONE; user id = sa; password = B1Admin$" providerName="System.Data.SqlClient" />
    <!--  <add name="BDVentura" connectionString="Data Source=localhost; Initial Catalog=VSMONE; Integrated Security=true" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="B77A5C561934E089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>